{% extends 'product_category/base.html' %}
{% load static %}

{% block content %}
  <section id=s2>
    <div class="mymain-container">
      <div class='image-shop-now-container'>
        <div class='left-column'>
          <img src="{% static 'images/clothing2.jpg' %}" alt="">
        </div>
        <div class='right-column'>
          <div class='salesParagraph1'>
            <p class="salesParagraph1">SALE</p>
            <p class='salesParagraph1'>UP TO 80% OFF</p>
          </div>
          <div class='salesButton'>
            <input class='button' type="submit" value="Shop Now">
          </div>
          <div class='salesDetails'>
            Here you’ll find the very latest new clothing on ShopWithAyo.com. With 100's of items added weekly, we’ve got all the latest trends as well as your style favourites in this season’s hottest designs and colours.
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id=s3>
    <div class="mymain-container">
      <div class='featured-Items'>
        <div class='cloth-items Shirts'>
          <img class='Shirts' src="{% static 'images/shirts2.jpg' %}" alt=""><br><a class='items-link' href="{% url 'shirts' %}">Shirts</a>
        </div>

        <!-- <div class='shirt-items' onmouseover="hvr(this, 'in')" onmouseout="hvr(this, 'out')">
          <img class='Shirts' col='g' src="images/shirts1.jpg" alt="">
          <img class='Shirts' col='b' src="images/shirts1.jpg" alt="" style="display: none;"><br>
          <a class='myitems-link' href="">Shirts</a>

        </div> -->
        <div class='cloth-items Sweats' id='jump-to-store'>
          <img class='Sweats' src="{% static 'images/sweats.jpg' %}" alt="">
          <br>
          <a class='items-link' href="{% url 'sweats' %}">Sweats</a>
        </div>
        <div class='cloth-items Coats'>
          <img class='Coats' src="{% static 'images/coats.jpg' %}" alt="">
          <br>
          <a class='items-link' href="{% url 'coats' %}">Coats</a>
        </div>
        <div class='cloth-items Jeans'>
          <img class='Jeans' src="{% static 'images/jeans1HOME.jpg' %}" alt="">
          <br>
          <a class='items-link' href="{% url 'jeans' %}">Jeans</a>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}