{% extends 'product_category/base.html' %}
{% load static %}

<!-- this is where we list all the jeans in our database -->
{% block content %}
  <div class="product-category"> <p>Jeans</p></div>
  <div class="products-wrapper">
    {% for jean in object %}
      <div class="product-container">
        <div class="Product-Image">
          <!-- <img src="{{jeans.image.url}}" alt=""> -->
          <a href="{{ jean.get_absolute_url }}"><img src="{{jean.imageURL}}" alt=""></a>
        </div>
        <p>{{ jean.name }}</p>
        <div class="price-cart">
          <span>Price: ${{ jean.price }}</span> 
          <button data-product={{jean.id}} data-action="add" class="add-to-cart-button update-cart">Add To Cart</button>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}