{% extends 'product_category/base.html' %}
{% load static %}

<!-- this is where we list all the jeans in our database -->
{% block content %}
  <div class="pp-product-page">
    <div class="pp-image">
      <div class="pp-product-name">
        <p>{{ object.name }}</p>
      </div>
      <div class='pp-inner-Image'>
        <!-- <img src="/images/jeansFolder/jeans7.jpg" alt=""></div> -->
        <!-- <img src="{{object.imageURL}}" alt=""></div> -->
        <img src="{% static object.imageURL %}" alt="">
      </div>
    </div>
    <div class="pp-price-addCart">
      <div class="pp-priceTag">
        <p>Price: ${{ object.price }}</p> 
      </div>
      <div class="pp-addCart">
        <button data-product={{object.id}} data-action="add" class="update-cart pp-add-to-cart-button">Add To Cart</button>
      </div>
    </div>
    <div class="pp-product-description">
      <p>Description: {{ object.name }}</p>
    </div> 
  </div>
{% endblock content %}